torch==1.13.1
torchvision==0.14.1
transformers==4.18.0
diffusers==0.11.1
peft==0.1.0
pillow==9.3.0
numpy==1.21.6
pyqt5==5.15.9
safetensors==0.2.7
protobuf==3.20.3
huggingface_hub==0.25.2
jax==0.4.30
flax==0.8.5